.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
  font-family: 'Roboto';
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  padding: 40px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
}

.login-website-logo {
  width: 160px;
  align-self: center;
  margin-bottom: 40px;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-label {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 8px;
}

.username-input-field,
.password-input-field {
  background-color: #000000;
  color: #ffffff;
  border: 1px solid #475569;
  border-radius: 4px;
  padding: 12px;
  outline: none;
  font-size: 14px;
}

.username-input-field:focus,
.password-input-field:focus {
  border-color: #4f46e5;
}

.login-button {
  background-color: #4f46e5;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #3b31d1;
}

.error-message {
  color: #ff0b37;
  font-size: 12px;
  margin-top: 8px;
  font-style: italic;
}
